<!DOCTYPE html>
<html ng-app="angularRoutingApp">
    <head> 
        <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="../js/funcionesLogin.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap" rel="stylesheet">
 
     <link rel="stylesheet" href="styleLogin.css">
     <link rel="icon" href="logoZav.jpg">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
     <title>
         Ideal
     </title>
 

       
        
    </head>
    <body class="fondo" ng-controller="login">
       <div class="container">
        
        <div class="row">
            <div class="col-sm-4"> 
                
                  <div class="col-sm-4">
                      <img src="logov.jpg" class="logo"/>
                  </div>
                 
                <div class="row" id="login">
                        <h1 class="titulo">Login</h1>
                       <form name=myForm ng-submit="login2()">
                        <div>
                            <label class="label1">Usuario</label>
                        </div>
                            <div class="col-sm-10" >
                            <input class="form-control" type="text" name="usuario" id="usuario" required ng-model="user"/>
                            </div>
                            <div >
                                <label class="label1">Contraseña</label>
                            </div>
                            <div class="col-sm-10" >
                            <input  class="form-control" type="password"name="constrasena" id="contrasena" required ng-model="contrasena"/>
                            </div>
                            <div class="col-sm-10">
                                
                                    <button type="submit" class="btn"value="submit" ng-disabled="myForm.$invalid">ENTRAR</button>
                                
                            </div>

                       </form>
                            <div class="col-sm-12">
                                <a href="password.html" >
                                    <label class="link">¿Olvidaste contraseña?</label>
                                </a>
                            </div>

                </div>
                

            </div>
            <div class="col-sm-8"> 
                <img src="m1.jpg" alt="" class="img"/>
            </div>

        </div>
       </div>
        
    </body>
</html>