<!DOCTYPE html >
<html  ng-app="angularRoutingApp">
    <head> 
        <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="../js/funcionesRecuperarContrasena.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap" rel="stylesheet">
 
     <link rel="stylesheet" href="styleLogin.css">
     <link rel="icon" href="logoZav.jpg">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
     <title>
         Ideal
     </title>
 

       
        
    </head>
    <body class="fondo2" ng-controller="recuperar">
       <div class="container">
        
        <div class="row">
            <div class="col-sm-6"> 
                
                  <div class="col-sm-4">
                      <img src="logov.jpg" class="logo2"/>
                  </div>
                  <form name=myForm ng-submit="recuperarCont()" >
                        <div class="row" id="login">
                            <h2 class="titulo">Recuperar contraseña</h2>
                            <div>
                                <label class="label1">Correo</label>
                            </div>
                            <div class="col-sm-10" >
                                <input class="form-control" type="email" name="correo" id="correo"required ng-model="correo"/>
                            </div>
                            <div class="col-sm-10">
                            
                                <button  class="btn btn-primary" type="submit" value="submit" ng-disabled="myForm.$invalid">Recuperar</button>
                            
                            </div>

                        </div>
                    </form>
            
                

            </div>
            <div class="col-sm-6" id="modelo"> 
                <img src="modelo.jpg" alt="" class="img2"/>
            </div>

        </div>
       </div>
        
    </body>
</html>